@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    margin: auto;padding: auto;
}
main{
    max-width: 80vw;
    background-color: hsl(0, 0%, 12%);
    padding: 1.5rem 1.7rem;
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
}
.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.profile_photo img{
    width: 75px;
    height: auto;
    border-radius: 50%;
}
.name_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9px;
}
.name_location h1 {
    font-size: 25px;
    font-weight: 700;
}
.name_location p{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 11px;
}
.occupation {
    margin: 22px 0;
}
.occupation p{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
}
.social_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.box {
    background-color: hsl(0, 0%, 20%);
    font-size: 12px;
    font-weight: 600;
    padding: 14px;
    min-width: 270px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.box:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
footer{
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 11px; text-align: center;
}
footer a {
    color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 500px){
    body {
        padding: 10px;
    }
    main{
    max-width: 70vw;
    padding: 20px 25px;
    }
    .box {
    padding: 14px;
    min-width: 55vw;
    }
}